img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


header {
    position: fixed;
    top: 0;
    text-align: center;
    height: 60px;
    background-color: rgba(57, 71, 71, 0.8);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

body {
    /* margin-left: 0px; */
    /* margin-right: 200px; */
    /* Set a background image by replacing the URL below */
    background: 
    url('../bkgrndimg.jpg') 
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.overview {
    margin-top: 60px;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 50px 15px grey;
}
    .overview h3 {
        padding-top: 30px;
        background-color: white;
    }
    .overview p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 20px;
        background-color: white;

    }
    /* .overview img {
        padding-top: 10px;
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
    } */

.comparison {
    text-align: left;
    text-indent: 3px;
    background-color: white;
}
    .comparison h3 {
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .comparison ul {
        font-size: 20px;
    }


.Page0 .Page0, 
.Page1 .Page1,.Page2 .Page2,
.Page3 .Page3,.Page4 .Page4,
.Page5 .Page5,.Page6 .Page6 {
    color :white;
    font-weight: bold;
    background: grey;  
}

/* .navbar {background-color: #e3f2fd; padding: 10px;}
.navbar a{ text-decoration: none; color: black;} */

.sidenav {
    height: 61px;
    position: fixed;
    z-index: 1;
    right: 0;
    background: #73AD21;
    color: white;
    padding-top: 5px;

  }
  .sidenav a {
    padding: 6px 6px 6px 6px;
    right: 0;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    background: #73AD21;
    border-radius: 25px;
    text-align: center;
}
  .sidenav a:hover {
    color: black;
    background-color: white;
  }

.home {
border-radius: 25px;
background: #73AD21;
/* padding: 20px; */
width: 200px;
height: 50px;
color: white;
cursor: pointer;
text-decoration: none;
  }
  .home a {
    border-radius: 25px;
    background: #73AD21;
    /* padding: 20px; */
    width: 200px;
    height: 50px;
    color: white;
    cursor: pointer;
    text-decoration: none;
  }
 